@font-face {
    font-family: anurati;
    src: url("Anurati-Regular.otf") format("opentype");
}
@font-face {
    font-family: nothing;
    src: url("nothing-font.ttf") format("opentype");
}
@font-face {
    font-family: spyagency;
    src: url("spyagency.ttf") format("opentype");
}

body {
	/*
background-image: url(bg.jpg);
background-size: cover;*/
background-color: #000;
color: white;
}

h1 { 
font-family: anurati;
background-color: #1f1f1f;
border-radius: 20px;
}

/*
ul.main {
vertical-align: bottom;
margin: 0;
padding: 4 px;
}
ul.main li {
display: inline;
margin-right: 5 px;
border: 2px solid #fff;
border-radius: 5px;
}
*/

.app {
position: relative;
background-color: #161a1f;
border: 1px solid #fff;
border-radius: 20px;
height: 660px;
width: 400px;
}

.panel {
	position: relative;
	/*top: 490px;*/
	top: 160px;
	left: 10px;

	background-color: #1f1f1f;
	border-radius: 15px;
	width: 380px;
}
img.coin {
width: 300px;
height: 300px;
position: relative;
/*top: 32px;
left: 48px;*/
border: 2px solid yellow;
border-radius: 200px;
}

.panel button {
	font-size: 10.5px;
	position: relative;
	margin: 10px;
	left: 13px;
	height: 40px;
	border-radius: 15px;
	background-color: #708090;
	color: white;
	font-family: spyagency;
}

.prog {
position: relative;
top: 10px;
font-size: 24px;
font-family: spyagency;
}
.click {
position: relative;
top: 32px;
left: 46px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}